
.product-title[b-kocm3r3y9e] {
    min-height: 45px;
    color: black;
    background-color: #F5F5F5;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.02em;
}
