.box[b-igf69vfsf0] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.field[b-igf69vfsf0] {
    margin-top: 20px;
}
