@using Contracts.Interfaces
@inherits LayoutComponentBase
@inject IAuthService _authService;

<div class="page">
    <main>
        <MudThemeProvider/>
        <MudDialogProvider/>
        <MudSnackbarProvider/>
        
        <Header/>
        
        <MudLayout>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </main>
</div>
                  